[core]
    editor = vim
[merge]
    tool = vimdiff
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    di = diff
    lg = log
    conf = config --list --show-origin
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph
    type = cat-file -t
    dump = cat-file -p
[user]
    name = jmhayes3
    email = 22490346+jmhayes3@users.noreply.github.com
[init]
    defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[color]
	ui = auto
